/* --------------------------------------------- BASE INICIO ---------------------------------------------*/
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background: #ffffff00;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: #ffffff;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #000000;  /* creates padding around scroll thumb */
}

body{
    background-color:#000000; 
    margin: 0px; 
}


#contenedor{
	width:1320px;
	height:1420px;
    margin-top: 0px;
	margin-left:auto;
	margin-right:auto;
	/* background-color:#ebce91; */
    position: relative;
}

header{
    background-color: #000000;
	height: 110px;
	width: 1320px;
    margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
    position: fixed;
    z-index: 10;
}

#menu table th img{
	width: 280px;
	height:80px;
	margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin: 0px;
	background-color: #99370B;
    position: relative;
    border-style : hidden;
}

#menu table{
    border-collapse: collapse;
}

#menu{
    background-color: #ffffff;
	height: 75px;
	width: 1120px;
	margin-left:200px;
    margin-top: 25px;
    position: fixed;
    position: absolute;
    z-index: 10;
    table-layout: fixed;
}

#logoCirculo img{
    /* background-color: #C32F27; */
	width: 210px;
	height: 210px;
    position:relative;
    margin-left: 0px;
    display: inline-block;
    z-index: 10;
    position: fixed;
}
/* --------------------------------------------- BASE FIN ---------------------------------------------*/

/* --------------------------------------------- DAMIANO INICIO ---------------------------------------------*/

.damiano img{
    /* background-color: #d8572a; */
	width: 325px;
	height: 500px;
	margin-right: 6px;
    margin-left: 0px;
    margin-top: 120px;
    position: absolute;
    display: inline-block;
}

.overlayDam {
    width: 325px;
	height: 500px;
	margin-right: 6px;
    margin-left: 0px;
    margin-top: 120px;
    position: absolute;
    display: inline-block;
    opacity: 0;
    transition: .5s ease;
    background: -moz-linear-gradient(top, #ffffff00, #B9305D);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff00), to(#B9305D));
}
  
.damiano:hover .overlayDam {
    opacity: 0.8;
}
  
.infoDam {
    color: white;
    font-family: 'Eczar', serif;
    font-size: 20px;
    position: relative;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* ----------------------------------------------- DAMIANO FIN -------------------------------------------------*/


/* --------------------------------------------- VICTORIA INICIO ---------------------------------------------*/
.victoria img{
    /* background-color: #D8572A; */
	width: 325px;
	height: 500px;
	margin-right: 0px;
    margin-left: 331px;
    margin-top: 120px;
    position: absolute;
    display: inline-block;
}

.overlayVic{
	width: 325px;
	height: 500px;
	margin-right: 0px;
    margin-left: 331px;
    margin-top: 120px;
    position: absolute;
    display: inline-block;
    opacity: 0;
    transition: .5s ease;
    background: -moz-linear-gradient(top, #ffffff00, #BA6E13);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff00), to(#BA6E13));
}

.victoria:hover .overlayVic{
    opacity: 0.8;
}

.infoVic{
    color: white;
    font-family: 'Eczar', serif;
    font-size: 20px;
    position: relative;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}  
/* --------------------------------------------- VICTORIA FIN -------------------------------------------------*/


/* --------------------------------------------- THOMAS INICIO ---------------------------------------------*/
.thomas img{
    /* background-color: #D8572A; */
	width: 325px;
	height: 500px;
	margin-right: 0px;
    margin-left: 663px;
    margin-top: 120px;
    position: absolute;
    display: inline-block;
}

.overlayTho{
	width: 325px;
	height: 500px;
	margin-right: 0px;
    margin-left: 663px;
    margin-top: 120px;
    position: absolute;
    display: inline-block;
    opacity: 0;
    transition: .5s ease;
    background: -moz-linear-gradient(top, #ffffff00, #107A37); /* #749E2D */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff00), to(#107A37));
}

.thomas:hover .overlayTho{
    opacity: 0.8;
}

.infoTho{
    color: white;
    font-family: 'Eczar', serif;
    font-size: 20px;
    position: relative;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}  
/* --------------------------------------------- THOMAS FIN -------------------------------------------------*/


/* --------------------------------------------- ETHAN INICIO ---------------------------------------------*/
.ethan img{
    /* background-color: #D8572A; */
	width: 325px;
	height: 500px;
	margin-right: 0px;
    margin-left: 995px;
    margin-top: 120px;
    position: absolute;
    display: inline-block;
}

.overlayEth{
    width: 325px;
	height: 500px;
	margin-right: 0px;
    margin-left: 995px;
    margin-top: 120px;
    position: absolute;
    display: inline-block;
    opacity: 0;
    transition: .5s ease;
    background: -moz-linear-gradient(top, #ffffff00, #148BB9);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff00), to(#148BB9));
}

.ethan:hover .overlayEth{
    opacity: 0.8;
}

.infoEth{
    color: white;
    font-family: 'Eczar', serif;
    font-size: 20px;
    position: relative;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}  
/* --------------------------------------------- ETHAN FIN -------------------------------------------------*/


#links tr{
    /*background-color: #d8922a;*/
	width: 1095px;
	height: 100px;
    margin-top: 635px;
    margin-left: 112.5px;
    position: absolute;
    display: inline-block;
    text-align: center;
}

#links table th img{
    /* background-color: #D8572A; */
    margin-top: 635px;
	margin-right: 35px;
    position: absolute;
    display: inline-block;

}

#links img{
    margin-right: 35px;
}

#logo img{
    width: 400px;
	height: 100px;
    margin-right: 35px;
}

#links table td img{
    /* background-color: #D8572A; */
    margin-top: 635px;
	margin-right: 35px;
    position: absolute;
    display: inline-block;
    column-span: 5;
}

#separador{
    width: 1320px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    margin-top: 780px;
    display: block;
}

#titulo img{
    /* background-color: #d8572a; */
	width: 370px;
	height: 100px;
	margin-right: 0px;
    margin-left: 490px;
    margin-top: 815px;
    position: absolute;
    display: inline-block;
}

#fotoGrupo img{
    background-color: #d8572a;
	width: 445px;
	height: 540px;
	margin-right: 0px;
    margin-left: 875px;
    margin-top: 820px;
    position: absolute;
    display: inline-block;
}

#texto{
    /* background-color: #000000; */
	width: 755px;
	height: 455px;
	margin-right: 0px;
    margin-left: 105px;
    margin-top: 930px;
    position: absolute;
    display: inline-block;
}

#texto a{
    text-align: right;
    color: #ffffff;
    font-family: 'Eczar', serif;
    font-size: 19px;
}

#pie{
	background-color: #ffffff00;
    color:#ffffff;
    text-align: center;
    font-family: 'Eczar', serif;
	width: 1320px;
	height: 30px;
	margin-right: 0px;
    margin-left: 0px;
    margin-top: 1370px;
    position: absolute;
    display: block;
}

p { margin-top: -20px; }

