/* ---------- MODIFICA SCROLL BAR ----------------*/

body::-webkit-scrollbar {
    width: 12px;              
}
body::-webkit-scrollbar-track {
    background: rgba(236, 230, 194,0);      
}
body::-webkit-scrollbar-thumb {
    background-color: #283618;    
    border-radius: 20px;       
    border: 3px solid #283618;  
}
body{
    overflow: overlay;
}

/*------------------------------------------------*/

/* ------------------------ FONDO ----------------------- */
body, html{
    background-color: #ece6c2;
    border: 0 !important;
    overflow: hidden;
}

#main{
    background-color: #ece6c2;
}

#inicio{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #74c9d5;
}


@keyframes slide {
    0% {
      transform: translate(-100vw);
    }
    100% {
      transform: translate(0); /* The image width */
    }
}

#fondo_loop{

    background:url(../imagenes/fondos/fondo_index.png) repeat-x bottom;
    background-size: 100vw auto;
    height: 100vh;
    width: 200vw;
    animation: slide 20s linear infinite;
    z-index:1;
}

.navbar{
    z-index: 3;
    position: absolute;
}

/* ------------------------------------------------------ */

#infoProyecto{
    width: 60% !important;
    background: url(../imagenes/avatares/guia.png) no-repeat bottom left,
                url(../imagenes/fondos/offcanvas.png) no-repeat;
    background-position: 0 90%,  10%;
    background-size: 25%, 100% 100%;
    border: none !important;
    padding-left: 15% !important;
}

#infoGrupo{
    width: 30% !important;
    background: url(../imagenes/avatares/Opcion2.png) no-repeat bottom left,
                url(../imagenes/fondos/offcanvas.png) no-repeat;
    background-position: 0 95%,  10%;
    background-size: 45%, 100% 100%;
    border: none !important;
    padding-left: 10% !important;
}


#logo{

    width: 50%;
    height: auto;
}

.btn:focus, .btn-close:focus {
    outline: none !important;
    box-shadow: none !important;
}