<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/admin/estilos_admin_editar.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
      <script>
            let preguntas = {{ preguntas|tojson }};
            let respuestas = {{ respuestas|tojson }};
      </script>
    
    
    
    </head>
    <body id="body" style="background-color:#ece6c2">  
        <header>
            <nav class="navbar navbar-default navbar-expand-lg navbar-dark" id="nav" style="background-color: #23352A;" >
                <div class="container" style="height:max-content;">                
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-0 mb-2 mb-lg-0 align-middle ms-auto">
                            <li class="nav-item">
                                <a class="nav-link active fs-5 ms-3" aria-current="page" href={{ url_for('index') }}>Inicio</a> 
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active fs-5 ms-3" href={{ url_for('adminEditar') }}>Editar Datos</a> 
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active fs-5 ms-3 me-0" href={{ url_for('adminAgregar') }}>Agregar Datos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        
        <main class="container py-3" style="background-color:#ece6c2">

            <div class="col-12 rounded-3 p-4 mb-3" style="background-color: #2C7342;">
                <p class="fs-4 p-0 m-0 text-light">Editar una pregunta</p>
                <p class="fs-6 p-0 m-0 text-light">Elegir la pregunta a editar mediante el menu. Una vez seleccionada, se mostraran en pantalla los datos. Presionar el boton <i>Editar</i> para modificar cada campo. La respuesta correcta se marcará en verde; este campo es <b>inamovible</b>, la respuesta que escriba en ese campo figurará como correcta [tener esto en cuenta al momento de ingresar cualquier modificacion]</p>
            </div>

            <form class="col-12 mb-3 p-3 bg-white rounded shadow-sm" >
                <label for="opciones" class="form-label mb-0">Preguntas cargadas</label>
                <select class="form-select form-select mt-0 mb-2" name="opciones" id="opciones" onchange="mostrarRespuestas(this.value,'respuestasEditar')">
                    <option selected disabled>Seleccione una pregunta</option>
                    <optgroup label="Agenda 2030">
                    {% for dato in preguntas %}
                        {% if dato.categoria == 'Agenda 2030' %}
                        <option value={{ dato.id_pregunta }}> {{ dato.pregunta }} </option>
                        {% endif %}
                    {% endfor %}
                    </optgroup>
                    <optgroup label="ODS 4">
                    {% for dato in preguntas %}
                        {% if dato.categoria == 'ODS 4' %}
                        <option value={{ dato.id_pregunta }}> {{ dato.pregunta }} </option>
                        {% endif %}
                    {% endfor %}
                    </optgroup>
                    <optgroup label="ODS 10">
                    {% for dato in preguntas %}
                        {% if dato.categoria == 'ODS 10' %}
                        <option value={{ dato.id_pregunta }}> {{ dato.pregunta }} </option>
                        {% endif %}
                    {% endfor %}
                    </optgroup>
                    <optgroup label="ODS 15">
                    {% for dato in preguntas %}
                        {% if dato.categoria == 'ODS 15' %}
                        <option value={{ dato.id_pregunta }}> {{ dato.pregunta }} </option>
                        {% endif %}
                    {% endfor %}
                    </optgroup>
                    <optgroup label="Estadistica">
                    {% for dato in preguntas %}
                        {% if dato.categoria == 'Estadísticas' %}
                        <option value={{ dato.id_pregunta }}> {{ dato.pregunta }} </option>
                        {% endif %}
                    {% endfor %}
                    </optgroup>
                </select>
                
                <div id="respuestasEditar" class="col-12">
                    

                </div>
                

                <input class="btn btn-success mt-3 col-12" type="submit" value="Enviar Modificaciones">
            </form>

            <div class="col-12 rounded-3 p-4 mb-3" style="background-color: #2C7342;">
                <p class="fs-4 p-0 m-0 text-light">Borrar una pregunta</p>
                <p class="fs-6 p-0 m-0 text-light">Elegir la pregunta a eliminar mediante el menu. Una vez seleccionada, se mostraran en pantalla los datos. Presionar el boton <i>Enviar Modificaciones</i> una vez que este seguro para borrar la pregunta y sus respuestas.</p>
            </div>

            <form class="col-12 mb-3 p-3 bg-white rounded shadow-sm" >
                <label for="opciones" class="form-label mb-0">Preguntas cargadas</label>
                <select class="form-select form-select mt-0 mb-2" name="opciones" id="opciones" onchange="mostrarRespuestas(this.value,'respuestasBorrar')">
                    <option selected disabled>Seleccione una pregunta</option>
                    <optgroup label="Agenda 2030">
                    {% for dato in preguntas %}
                        {% if dato.categoria == 'Agenda 2030' %}
                        <option value={{ dato.id_pregunta }}> {{ dato.pregunta }} </option>
                        {% endif %}
                    {% endfor %}
                    </optgroup>
                    <optgroup label="ODS 4">
                    {% for dato in preguntas %}
                        {% if dato.categoria == 'ODS 4' %}
                        <option value={{ dato.id_pregunta }}> {{ dato.pregunta }} </option>
                        {% endif %}
                    {% endfor %}
                    </optgroup>
                    <optgroup label="ODS 10">
                    {% for dato in preguntas %}
                        {% if dato.categoria == 'ODS 10' %}
                        <option value={{ dato.id_pregunta }}> {{ dato.pregunta }} </option>
                        {% endif %}
                    {% endfor %}
                    </optgroup>
                    <optgroup label="ODS 15">
                    {% for dato in preguntas %}
                        {% if dato.categoria == 'ODS 15' %}
                        <option value={{ dato.id_pregunta }}> {{ dato.pregunta }} </option>
                        {% endif %}
                    {% endfor %}
                    </optgroup>
                    <optgroup label="Estadistica">
                    {% for dato in preguntas %}
                        {% if dato.categoria == 'Estadísticas' %}
                        <option value={{ dato.id_pregunta }}> {{ dato.pregunta }} </option>
                        {% endif %}
                    {% endfor %}
                    </optgroup>
                </select>

                <div id="respuestasBorrar" class="col-12">
                    

                </div>

                <input class="btn btn-success mt-3 col-12" type="submit" value="Enviar Modificaciones">
            </form>

        </main>

        <script src="../static/admin/editarDatos.js"></script>
    </body>
</html>