<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/index/estilos_index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <header>
        <div class="container-fluid m-0 p-0" id="head">
          <div id="inicio" class="px-0 m-0  position-relative">
            <nav class="navbar navbar-light navbar-expand position-absolute">
              <div class="container-fluid">
                <a class="navbar-brand fs-3 ms-4 mt-4 text-light" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-brightness-alt-high-fill" viewBox="0 0 16 16">
                    <path d="M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3zm8 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zm-13.5.5a.5.5 0 0 0 0-1h-2a.5.5 0 0 0 0 1h2zm11.157-6.157a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm-9.9 2.121a.5.5 0 0 0 .707-.707L3.05 5.343a.5.5 0 1 0-.707.707l1.414 1.414zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4z"/>
                  </svg>
                  Home
                </a>

                <div class="collapse navbar-collapse  mt-4" id="navbarText">
                  <ul class="navbar-nav me-0 mb-2 mb-lg-0 align-middle ms-auto">
                      <li class="nav-item">
                          <button type="button" class="nav-link active fs-5 ms-3 btn btn-link text-light" data-bs-toggle="offcanvas" data-bs-target="#infoProyecto" aria-controls="offcanvasRight">Sobre el proyecto </button>
                      </li>
                      <li class="nav-item">
                          <button type="button" class="nav-link active fs-5 ms-3 btn btn-link text-light" data-bs-toggle="offcanvas" data-bs-target="#infoGrupo" aria-controls="offcanvasRight">Sobre el equipo</button>
                      </li>
                    <form method="GET" action="/iniciarsesion">
                      <li class="nav-item">
                          <button id="inicio_sesion" type="submit" class="nav-link active fs-5 ms-3 btn btn-link text-light">¡Inicia sesion!</button>
                      </li>
                    </form>
                  </ul>
              </div>
              </div>
            </nav>

            <div class="col-12 text-center position-absolute top-50 start-50 translate-middle" style="z-index: 2;">
              <img src="../static/imagenes/logo.png" id="logo">
            </div>

            <div class="offcanvas offcanvas-end pe-5" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="infoProyecto" aria-labelledby="offcanvasRightLabel">
              <div class="offcanvas-header justify-content-md-end p-0">
                <button type="button" class="btn-close text-reset p-5" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <p id="infoProyectoTitulo" class="text-start fs-1 lh-base mt-auto mb-2"> Sobre el proyecto!</p>
                <p id="info" class="text-start fs-5 lh-base mt-auto mb-0"> 
                  &nbsp;&nbsp;&nbsp;&nbsp;"Camino al desarrollo sustentable: aprendé sobre la Agenda 2030" es un proyecto realizado por alumnas del colegio Pio IX. El juego "Camino Sustentable" 
                  plantea una propuesta didáctica y pedagógica para aprender y difundir conceptos y novedades sobre la Agenda 2030 y sus 17 ODS. <br>&nbsp;&nbsp;&nbsp;&nbsp;
                  Esta aplicación web está orientada a un público desconocedor del tema, y principalmente hacia jóvenes de entre 10 a 15 años. Intenta, de este modo, ofrecer 
                  información en un formato más atractivo y educativo para individuos de dicha edad. Sin embargo la experiencia no es excluyente a personas mayores que deseen 
                  investigar más sobre las propuestas. ¡Te invitamos a adentrarte en el camino al desarrollo sustentable! Profundizaremos en los conocimientos básicos de los 
                  ODS y su historia, conociendo sus aplicaciones en Argentina y el mundo, con trivias desafiantes y personajes inolvidables.
                  <br><br>Registrate y empieza a jugar, ESPERAMOS QUE LO DIFRUTES :) </p>
                  
              </div>
            </div>

            <div class="offcanvas offcanvas-end pe-5" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="infoGrupo" aria-labelledby="offcanvasRightLabel">
              <div class="offcanvas-header justify-content-md-end p-0">
                <button type="button" class="btn-close text-reset p-5" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <p id="infoProyectoTitulo" class="text-start fs-1 lh-base mt-auto mb-2">  Sobre el equipo!</p>
                <p id="info" class="text-start fs-5 lh-base mt-auto mb-0"> Nosotras somos Rosario Martín Seijo, Lara Puelman, Victoria Stagno y Oriana Toscano Trillo de 5B Informática del colegio Pio IX.
                  <br>Ante cualquier consulta te brindamos nuestro mail para que nos contactes. </p>
                  
              </div>
            </div>

            <div id="fondo_loop" class="position-absolute"></div>
            

          </div>
        </div>
    </header>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../static/index/index.js"></script>
  </body>
</html>